    #title{
      background-color: rgba(255, 255, 255, 0.966);
      color: rgb(39, 170, 159);
      font:50px "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
    }
    #signature{
      background-color: rgba(255, 255, 255, 0.966);
      color: rgb(49, 185, 163);
      font:15px "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
    }
    .node {
      cursor: pointer;
    }

    .node:hover {
      stroke: rgb(255, 234, 139);
      stroke-width: 2px;
      
    }

    .node--leaf {
      fill: #66b8b4;
    }

    .label{
      color: aliceblue;
      font: 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-anchor: middle;
      text-decoration-color: aliceblue;
    }

    .label,
    .node--root,
    .node--leaf {
      pointer-events: none;
    }
